<template>
  <div class="app-memu min-vh-100">
    <b-img
      src="../assets/buu.png"
      width="100%"
      class="pt-1 pb-2"
      center
    ></b-img>
    <b-nav vertical>
      <b-nav-item to="/">Home</b-nav-item>
      <b-nav-item to="/about">About</b-nav-item>
      <b-nav-item @click="showFormInput = !showFormInput"
        >Form Input<b-icon
          :icon="showFormInput ? 'caret-down-fill' : 'caret-right-fill'"
        ></b-icon
      ></b-nav-item>
      <b-nav-item class="sub-menu" v-if="showFormInput" to="./formInput1"
        >Form Input1</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showFormInput" to="./formInput2"
        >Form Input2</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showFormInput" to="./formInput3"
        >Form Input3</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showFormInput" to="./formInput4"
        >Form Input4</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showFormInput" to="./formInput5"
        >Form Input5</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showFormInput" to="./formInput6"
        >Form Input6</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showFormInput" to="./formInput7"
        >Form Input7</b-nav-item
      >
      <b-nav-item @click="showCRUDExample = !showCRUDExample"
        >CRUD Example
        <b-icon
          :icon="showCRUDExample ? 'caret-down-fill' : 'caret-right-fill'"
        ></b-icon
      ></b-nav-item>
      <b-nav-item class="sub-menu" v-if="showCRUDExample" to="./DataTable1"
        >Data table 1
      </b-nav-item>
      <b-nav-item class="sub-menu" v-if="showCRUDExample" to="./productform1"
        >Product Form 1
      </b-nav-item>
      <b-nav-item class="sub-menu" v-if="showCRUDExample" to="./productTable"
        >Product Table
      </b-nav-item>
    </b-nav>
  </div>
</template>
<script>
export default {
  data () {
    return {
      showFormInput: false,
      showForm: false,
      showCRUDExample: false
    }
  }
}
</script>
<style>
.sub-menu {
  padding-left: 10pt;
}
.app-memu {
  background-color: gray;
  font-size: 10pt;
}
.nav-link {
  color: white;
  text-align: left;
}
.nav-link:hover {
  color: gold;
}
</style>
